<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<body background='/assets/background.jpg'>
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %> | <%= link_to 'Users', users_path %> | <%= link_to "Reservations", rentals_path %> | <%=link_to "Main Calendar", calendar_tests_path %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>
